[MASTER]
ignore=.git,__pycache__
jobs=4

[MESSAGES CONTROL]
disable=
    format,
    C0330,
    C0326,
    too-many-lines,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-public-methods,
    too-few-public-methods,
    fixme

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-args=10
max-attributes=15
max-branches=15
max-locals=20
max-statements=100

[SIMILARITIES]
min-similarity-lines=10

